@{
    ViewData["Title"] = "Basketball";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Basketball products</p>

<div class="row"/>


    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/basketball hoop.jpg" alt="Basketball Hoop" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Basketball Hoop</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/molten basketball.jpg" alt="Molten Basketball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Molten Basketball</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/random basketball.jpg" alt="Off-Brand Basketball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Off-Brand Basketball</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/spalding basketball.jpeg" alt="Spalding Basketball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Spalding Basketball</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/wrist sweatband.jpg" alt="Wrist Sweatband" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Wrist Sweatband</h4>

                <a href="#" class="btn btn-primary"><center>Add to cart</center></a>
            </div>
        </div>
    </div>
