@{
    ViewData["Title"] = "Basketball";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Basketball products</p>

<div class="row">
<div class="column">
    <a href="Home/Basketball/Balls">
        <img src="~/images/basketballs.jpg" alt="Basketballs" style="width:200px;height:200px;">
    </a>
    <h2>Basketballs</h2>
</div>

<div class="column">
    <a href="Home/Basketball/Eqiupment">
        <img src="~/images/basketball equipment.jpg" alt="Basketball Eqiupment" style="width:200px;height:200px;">
    </a>
    <h2>Basketball Equipment</h2>
</div>