@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact us</p>


<p>Phone Number: +64 21345678</p>
<p>Email: sapphiresports@gmail.com</p>
<p>Address: 69 Dominion Road, Mt Eden, Auckland, 1024</p>
<p>Work hours:
   Monday-Friday: 9am-6pm
   Saturday: 10am-5pm
   Sunday: Closed
</p>

