@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Use this page to contact us</h2>


<h4>Contact Information:</h4>
<p>Phone Number: +64 21345678</p>
<p>Email: sapphiresports@gmail.com</p>
<p>Address: 69 Dominion Road, Mt Eden, Auckland, 1024</p>
<h4>Work hours:</h4>  
<p>Monday-Friday: 9am-6pm</p>
<p>Saturday: 10am-5pm</p>
<p>Sunday: Closed</p>

<img src="~/images/maps.png" alt="Google Maps" style="width:400px;height:200px;">
