@{
    ViewData["Title"] = "Use this page to contact us";
}
<h1>@ViewData["Title"]</h1>



<h4><strong>Contact Information:</strong></h4>
<p>Phone Number: +64 21345678</p>
<p>Email: sapphiresports@gmail.com</p>
<p class="text-dark">
    <h4><strong>Address:</strong></h4>
<p>69 Dominion Road, Mt Eden, Auckland 1024</p>
    <a href="https://www.google.com/maps/search/?api=1&query=69+Dominion+Road,+Mt+Eden,+1024,+Auckland" target="_blank" class="text-dark">View on Google Maps</a>
</p>

<h4><strong>Work hours:</strong></h4>
<p>Monday-Friday: 9am-6pm</p>
<p>Saturday: 10am-5pm</p>
<p>Sunday: Closed</p>


