@{
    ViewData["Title"] = "Cricket";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Cricket products</p>

<div class="row">

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-60" style="width:100%">
            <img class="card-img-top" src="~/Images/dsc bat.jpg" alt="DSC Bat" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">DSC bat (2021)</h4>
                <p class="card-text">
                    <i>$599.99</i>
                    <br />
                    DSC's latest addition to their collection. Has 9 grains and is ideal for intermediate level players. Available in sizes 5-SH.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>


    <div class="col-sm-4 p-3 text-black">
        <div class="card h-60" style="width:100%">
            <img class="card-img-top" src="~/Images/ss bat.jpg" alt="SS Bat" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">SS Bat (2020)</h4>
                <p class="card-text">
                    <i>$799.99</i>
                    <br />
                    SS's most popular cricket bat. Used by proffesionals all around the world. Has 10 grains and an oval handle and is ideal for experienced players. Available in size SH only.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-60" style="width:100%">
            <img class="card-img-top" src="~/Images/batting gloves.jpg" alt="Batting Gloves" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Batting Gloves (2020)</h4>
                <p class="card-text">
                    <i>$39.99</i>
                    <br />
                    Batting gloves with added cushioning for protection. Available in RH and LH.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-85" style="width:100%">
            <img class="card-img-top" src="~/Images/dave brown cricket ball.jpg" alt="Dave Brown Cricket Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Dave Brown Cricket Ball (2024)</h4>
                <p class="card-text">
                    <i>$69.99</i>
                    <br />
                    4-piece red leather ball. Ideal for club games.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/lords cricket ball.jpg" alt="Lords Cricket Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Lords Cricket Ball (2025)</h4>
                <p class="card-text">
                    <i>$99.99</i>
                    <br />
                    4-piece red leather ball used in proffesional cricket. 
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-40" style="width:100%">
            <img class="card-img-top" src="~/Images/gray nicolls cricket ball.jpg" alt="Gray Nicolls Cricket Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Gray Nicolls Cricket Ball (2022)</h4>
                <p class="card-text">
                    <i>$39.99</i>
                    <br />
                    Entry level cricket ball. Used in junior levels.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-40" style="width:100%">
            <img class="card-img-top" src="~/Images/sunglasses.jpg" alt="Cricket Sunglasses" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Cricket Sunglasses (2025)</h4>
                <p class="card-text">
                    <i>$249.99</i>
                    <br />
                    Oakley's iconic cricket sunglasses. Used by proffesionals and is an icon in the cricketing world. Colour variations available.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>


    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/full kitbag with gear.jpg" alt="Kitbag with Gear" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Full Cricket Kit with gear (2023)</h4>
                <p class="card-text">
                    <i>$1029.99</i>
                    <br />
                    A full cricket kit with all the equipment needed. Ideal for rookie-experienced players. 
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

</div>






