@{
    ViewData["Title"] = "Cricket";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Cricket products</p>

<div class="row">

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/dsc bat.jpg" alt="DSC Bat" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">DSC bat</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/gm bat.jpg" alt="GM Bat" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">GM Bat</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/ss bat.jpg" alt="SS Bat" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">SS Bat</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/batting gloves.jpg" alt="Batting Gloves" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Batting Gloves</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/dave brown cricket ball.jpg" alt="Dave Brown Cricket Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Dave Brown Cricket Ball</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/lords cricket ball.jpg" alt="Lords Cricket Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Lords Cricket Ball</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/gray nicolls cricket ball.jpg" alt="Gray Nicolls Cricket Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Gray Nicolls Cricket Ball</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/sunglasses.jpg" alt="Cricket Sunglasses" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Cricket Sunglasses</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/cricdkt kits.jpg" alt="Cricket Kitbag" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Cricket Kitbag</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/full kitbag with gear.jpg" alt="Kitbag with Gear" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Full Cricket Kit with gear</h4>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

</div>






