@{
    ViewData["Title"] = "Cricket";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Cricket products</p>

<div class="row">
<div class="column">
    <a href="Home/Cricket/Bats">
        <img src="https://www.nzcricketstore.com/cdn/shop/products/kookaburra-kahuna-600-english-willow-cricket-bat-962894.jpg?v=1640876258" alt="Cricket Bats" style="width:200px;height:200px;">
    </a>
    <h2>Cricket Bats</h2>
</div>

<div class="column">
    <a href="Home/Cricket/Balls">
        <img src="https://players-cdn.n2erp.co.nz/cdn/images/products/large/turf.jpg" alt="Cricket Balls" style="width:200px;height:200px;">
    </a>
    <h2>Cricket Balls</h2>
</div>

<div class="column">
    <a href="Home/Cricket/Battingprotection">
        <img src="https://www.rebelsport.co.nz/globalassets/2.-rebel-sport/002.-category-pages/sports-gear--equipment/shop-by-sport/cricket/cricket-placeholder-1.jpg" alt="Batting Protection" style="width:200px;height:200px;">
    </a>
    <h2>Batting Protection</h2>
</div>

<div class="column">
    <a href="Home/Cricket/Luggage">
        <img src="https://live.staticflickr.com/921/43586035341_1c1466a325_b.jpg" alt="Luggage" style="width:200px;height:200px;">
    </a>
    <h2>Luggage</h2>
</div>

<div class="column">
    <a href="Home/Cricket/Accessories">
        <img src="https://players-cdn.n2erp.co.nz/cdn/images/products/large/main_OO9208-4638_radar-ev_matte-black-prizm-road-path_001_111759_png_heroxl.jpg" alt="Accessories" style="width:200px;height:200px;">
    </a>
    <h2>Accessories</h2>
</div>
</div>



