@{
    ViewData["Title"] = "Cricket";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Cricket products</p>

<div class="row">

<div class="col-6">
    <a href="Home/Cricket/Bats">
        <img src="~/images/adult cricket splash component (1920 × 680px).png" alt="Cricket Bats" style="width:200px;height:200px;">
    </a>
    <h2>Cricket Bats</h2>
</div>

<div class="col-6">
    <a href="Home/Cricket/Balls">
        <img src="~/images/turf.jpg" alt="Cricket Balls" style="width:200px;height:200px;">
    </a>
    <h2>Cricket Balls</h2>
</div>

</div>

<div class="row">
<div class="col-6">
    <a href="Home/Cricket/Battingprotection">
        <img src="~/images/cricket-placeholder-1.jpg" alt="Batting Protection" style="width:200px;height:200px;">
    </a>
    <h2>Batting Protection</h2>
</div>

<div class="col-6">
    <a href="Home/Cricket/Luggage">
        <img src="~/images/cricdkt kits.jpg" alt="Luggage" style="width:200px;height:200px;">
    </a>
    <h2>Luggage</h2>
</div>

</div>






