@{
    ViewData["Title"] = "Football";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Football products</p>

<div class="column">
    <a href="Home/Football/Balls">
        <img src="https://cdn.stocksnap.io/img-thumbs/960w/soccer-ball_LHHL7FKKVD.jpg" alt="Footballs" style="width:200px;height:200px;">
    </a>
    <h2>Footballs</h2>
</div>

<div class="column">
    <a href="Home/Football/Equipment">
        <img src="https://storage.needpix.com/rsynced_images/shin-guards-2061622_1280.jpg" alt="Football Equipment" style="width:200px;height:200px;">
    </a>
    <h2>Football Equipment</h2>
</div>




