@{
    ViewData["Title"] = "Football";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Football products</p>

<div class="row">

<div class="col-sm-4 p-3 text-black">
    <div class="card h-100" style="width:100%">
        <img class="card-img-top" src="~/Images/adidas football.jpg" alt="Adidas Football" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Adidas Football (2024)</h4>
                <p class="card-text">
                    <i>$89.99</i>
                    <br />
                    Adidas's latest football. Used in proffesional games and is an officially licensed ball.
                </p>

            <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
        </div>
    </div>
</div>

<div class="col-sm-4 p-3 text-black">
    <div class="card h-100" style="width:100%">
        <img class="card-img-top" src="~/Images/adidas football 2.jpeg" alt="Adidas Football 2" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Adidas Football (2023)</h4>
                <p class="card-text">
                    <i>$55.99</i>
                    <br />
                    Adidas's most popular football. Ideal for intermediate level players.
                </p>

            <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
        </div>
    </div>
</div>

<div class="col-sm-4 p-3 text-black">
    <div class="card h-100" style="width:100%">
        <img class="card-img-top" src="~/Images/the-pitch-stadion-the-ball-football-wallpaper-preview.jpg" alt="Adidas Football 3" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Adidas Football (2022)</h4>
                <p class="card-text">
                    <i>$29.99</i>
                    <br />
                    Adidas's budget football. Ideal for training and entry level players.
                </p>

            <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
        </div>
    </div>
</div>

</div>




