@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><img src="images/sapphire_sports_logo-removebg-preview.png" alt="Sample Photo" width="400" /></h1>
</div>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/premium-photo/colorful-poster-with-soccer-ball-soccer-ball-it_925376-14116.jpg" alt="Browse All" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://pixahive.com/wp-content/uploads/2020/09/Cricket-sports-equipment-52944-pixahive.jpg" alt="Cricket" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://c1.peakpx.com/wallpaper/27/974/486/the-pitch-stadion-the-ball-football-wallpaper-preview.jpg" alt="Football" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/16566938/pexels-photo-16566938/free-photo-of-a-rugby-ball-on-the-field.jpeg" alt="Rugby" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/5739115/pexels-photo-5739115.jpeg" alt="Tennis" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://gibbonsgazette.org/wp-content/uploads/2024/02/sweet-16-and-elite-eight.jpeg" alt="Basketball" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://i1.pickpik.com/photos/12/998/321/grey-sport-shoes-sneakers-preview.jpg" alt="Shoes" class="d-block w-100">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

            <div class="row">
    <div class="column">
        <a href="Home/Cricket">
            <img src="https://pixahive.com/wp-content/uploads/2020/09/Cricket-sports-equipment-52944-pixahive.jpg" alt="Cricket" class="rounded" style="width:200px;height:200px;">
        </a>
        <h2>Cricket</h2>
    </div>



    <div class="column">
        <a href="Home/Football">
            <img src="https://c1.peakpx.com/wallpaper/27/974/486/the-pitch-stadion-the-ball-football-wallpaper-preview.jpg" alt="Football" class="rounded" style="width:200px;height:200px;">
        </a>
        <h2>Football</h2>
    </div>

    <div class="column">
        <a href="Home/Tennis">
            <img src="https://images.pexels.com/photos/5739115/pexels-photo-5739115.jpeg" alt="Tennis" class="rounded" style="width:200px;height:200px;">
        </a>
        <h2>Tennis</h2>
    </div>

    <div class="column">
        <a href="Home/Rugby">
            <img src="https://images.pexels.com/photos/16566938/pexels-photo-16566938/free-photo-of-a-rugby-ball-on-the-field.jpeg" alt="Rugby" class="rounded" style="width:200px;height:200px;">
        </a>
        <h2>Rugby</h2>
    </div>

    <div class="column">
        <a href="Home/Basketball">
            <img src="https://gibbonsgazette.org/wp-content/uploads/2024/02/sweet-16-and-elite-eight.jpeg" alt="Basketball" class="rounded" style="width:200px;height:200px;">
        </a>
        <h2>Basketball</h2>
    </div>

    <div class="column">
        <a href="Home/Shoes">
            <img src="https://i1.pickpik.com/photos/12/998/321/grey-sport-shoes-sneakers-preview.jpg" alt="Shoes" class="rounded" style="width:200px;height:200px;">
        </a>
        <h2>Shoes</h2>
    </div>
</div>