@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Thank you for visiting Sapphire Sports. This Privacy Policy outlines the types of personal information that is received and collected by the Website and how it is used.

    By accessing or using the Website, you agree to the collection and use of information in accordance with this Privacy Policy.
</p>

<p>1. Information Collection and Use

    - Personal Information: While using our Website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personal Information may include, but is not limited to, your name, email address, and any other information you voluntarily submit to us.

    - Log Data: Like many other websites, we collect information that your browser sends whenever you visit our Website. This Log Data may include information such as your computer's Internet Protocol (IP) address, browser type, browser version, the pages of our Website that you visit, the time and date of your visit, the time spent on those pages, and other statistics.

    - Cookies: We may use cookies to store information about visitors' preferences, to record user-specific information on which pages the user accesses or visits, and to customize web page content based on visitors' browser type or other information that the visitor sends via their browser.
</p>
<p>2. Use of Information

    - We use the information we collect for various purposes, including but not limited to:
    - Providing and maintaining the Website
    - Personalizing your experience on the Website
    - Improving our Website
    - Sending you newsletters, marketing or promotional materials and other information
    - Contacting you for feedback or surveys
</p>
<p>3. Security

    - The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
</p>
<p>4. Third Party Links

    - Our Website may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
</p>
<p>5. Children's Privacy

    - Our Website does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from children under age 13 without verification of parental consent, we take steps to remove that information from our servers.
</p>
<p>6. Changes to This Privacy Policy

    - We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.
</p>
<p>7. Contact Us

    - If you have any questions about this Privacy Policy, please contact us via email at sapphiresports@gmail.com

    By using this Website, you signify your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, please do not use our Website.
</p>

