@{
    ViewData["Title"] = "Rugby";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Rugby products</p>

<div class="row">

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/rugby ball.jpg" alt="Rugby Ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Rugby Ball (2022)</h4>
                <p class="card-text">
                    <i>$49.99</i>
                    <br />
                    Gilbert's most popular ball. Used in club rugby.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-80" style="width:100%">
            <img class="card-img-top" src="~/Images/rugby ball 2.jpeg" alt="Rugby Ball 2" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Rugby Ball (2024)</h4>
                <p class="card-text">
                    <i>$79.99</i>
                    <br />
                    Latest rugby ball added to our collection. Used in international matches.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

</div>
