@{
    ViewData["Title"] = "Rugby";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Rugby products</p>

<div class="column">
    <a href="Home/Rugby/Balls">
        <img src="https://live.staticflickr.com/4051/4416198623_86697b2fff_z.jpg" alt="Rugby Balls" style="width:200px;height:200px;">
    </a>
    <h2>Rugby Balls</h2>
</div>

<div class="column">
    <a href="Home/Rugby/Eqiupment">
        <img src="https://live.staticflickr.com/65535/33850683238_2ebb355b5a_b.jpg" alt="Rugby Eqiupment" style="width:200px;height:200px;">
    </a>
    <h2>Rugby Equipment</h2>
</div>