@{
    ViewData["Title"] = "Shoes";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Shoes</p>

<div class="row">

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-85" style="width:100%">
            <img class="card-img-top" src="~/Images/Asics-350-Not-Out-FF.jpg" alt="Cricket Shoes" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Asics 350 Not Out (2023)</h4>
                <p class="card-text">
                    <i>$249.99</i>
                    <br />
                    Asics latest cricket shoe, offering performance without sacrificing comfort. Available in mens and womens sizing.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/basketball shoes.jpg" alt="Basketball Shoes" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Nike Flight Shoes (2021)</h4>
                <p class="card-text">
                    <i>$139.99</i>
                    <br />
                    Nike's latest flagship basketball shoes, used by proffesionals in NBA. Available in mens and women sizing.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-90" style="width:100%">
            <img class="card-img-top" src="~/Images/football-boots-hero-mobile.jpg" alt="Football Boots" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Football Boots (2025)</h4>
                <p class="card-text">
                    <i>$79.99</i>
                    <br />
                    Nike's budget football boots, Available in mens and womens sizing.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-100" style="width:100%">
            <img class="card-img-top" src="~/Images/rugby shoes.jpg" alt="Rugby Boots" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Rugby Boots (2020)</h4>
                <p class="card-text">
                    <i>$49.99</i>
                    <br />
                    Strong and sturdy rugby boots with added protection. Available in mens and womens sizing.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-80" style="width:100%">
            <img class="card-img-top" src="~/Images/tennis shoes.webp" alt="Tennis Shoes" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Tennis shoes (2025)</h4>
                <p class="card-text">
                    <i>$179.99</i>
                    <br />
                    Asics latest tennis shoe, offering performance without sacrificing comfort. Used by proffesionals in Wimbledon and many major other tournaments. Available in mens and womens sizing.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

</div>

