@{
    ViewData["Title"] = "Shoes";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Shoes</p>

<div class="row">

<div class="col-6">
    <a href="Home/Shoes/Cricket">
        <img src="~/images/Asics-350-Not-Out-FF.jpg" alt="Cricket Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Cricket Shoes</h2>
</div>

<div class="col-6">
    <a href="Home/Shoes/Football">
        <img src="~/images/football-boots-hero-mobile.jpg" alt="Football Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Football Shoes</h2>
</div>

</div>

<div class="row">

<div class="col-6">
    <a href="Home/Shoes/Basketball">
        <img src="~/images/basketball shoes.jpg" alt="Basketball Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Basketball Shoes</h2>
</div>

<div class="col-6">
    <a href="Home/Shoes/Tennis">
        <img src="~/images/tennis shoes.webp" alt="Tennis Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Tennis Shoes</h2>
</div>

</div>

<div class="column">
    <a href="Home/Shoes/Rugby">
        <img src="~/images/rugby shoes.jpg" alt="Rugby Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Rugby Shoes</h2>
</div>

