@{
    ViewData["Title"] = "Shoes";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Shoes</p>

<div class="column">
    <a href="Home/Shoes/Cricket">
        <img src="https://www.andersonandhill.co.nz/wp-content/uploads/2022/08/Asics-350-Not-Out-FF.jpg" alt="Cricket Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Cricket Shoes</h2>
</div>

<div class="column">
    <a href="Home/Shoes/Football">
        <img src="https://www.rebelsport.co.nz/contentassets/c4ac0ee761d0460a837e1bafbc1449e5/football-boots-hero-mobile.jpg" alt="Football Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Football Shoes</h2>
</div>

<div class="column">
    <a href="Home/Shoes/Basketball">
        <img src="https://www.stirlingsports.co.nz/productimages/magnify/1/32908_191959_36643.jpg" alt="Basketball Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Basketball Shoes</h2>
</div>

<div class="column">
    <a href="Home/Shoes/Tennis">
        <img src="https://voltsports.co.nz/cdn/shop/files/Womens_Tennis_Shoes_Banner.jpg?v=1674008844&width=1200" alt="Tennis Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Tennis Shoes</h2>
</div>

<div class="column">
    <a href="Home/Shoes/Rugby">
        <img src="https://mir-s3-cdn-cf.behance.net/projects/404/10152415.547f98589a286.jpg" alt="Rugby Shoes" style="width:200px;height:200px;">
    </a>
    <h2>Basketball Shoes</h2>
</div>

