@{
    ViewData["Title"] = "Tennis";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Tennis products</p>

<div class="column">
    <a href="Home/Tennis/Rackets">
        <img src="https://c1.peakpx.com/wallpaper/329/992/855/tennis-tennis-racket-tennis-sports-wallpaper-preview.jpg" alt="Tennis Rackets" style="width:200px;height:200px;">
    </a>
    <h2>Tennis Rackets</h2>
</div>

<div class="column">
    <a href="Home/Tennis/Balls">
        <img src="https://cloudfront-ap-southeast-2.images.arcpublishing.com/nzme/IOHO64B57SDQJ3GB26LENI7KQM.jpg" alt="Tennis Balls" style="width:200px;height:200px;">
    </a>
    <h2>Tennis Balls</h2>
</div>
