@{
    ViewData["Title"] = "Tennis";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Tennis products</p>

<div class="row">

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-60" style="width:100%">
            <img class="card-img-top" src="~/Images/tennis racket.jpg" alt=" Prince tennis racket" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Prince Tennis Racket (2023)</h4>
                <p class="card-text">
                    <i>$129.99</i>
                    <br />
                    Prince's most popular tennis racket. Used by players at club and school levels.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-60" style="width:100%">
            <img class="card-img-top" src="~/Images/tennis ball.jpg" alt="Tennis ball" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Tennis ball (2024)</h4>
                <p class="card-text">
                    <i>$3.99</i>
                    <br />
                    Basic tennis ball.
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-3 text-black">
        <div class="card h-60" style="width:100%">
            <img class="card-img-top" src="~/Images/tennis net.jpeg" alt="Tennis Net" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Tennis Net (2021)</h4>
                <p class="card-text">
                    <i>$99.99</i>
                    <br />
                    Basic tennis net. Fits all types of courts. 
                </p>

                <a href="#" class="btn btn-primary"><center>Add to Cart</center></a>
            </div>
        </div>
    </div>

</div>
