@{
    ViewData["Title"] = "Tennis";
}
<h1>@ViewData["Title"]</h1>

<p>Browse through our range of Tennis products</p>

<div class="column">
    <a href="Home/Tennis/Rackets">
        <img src="~/images/tennis racket.jpg" alt="Tennis Rackets" style="width:200px;height:200px;">
    </a>
    <h2>Tennis Rackets</h2>
</div>

<div class="column">
    <a href="Home/Tennis/Balls">
        <img src="~/images/tennis balls.jpg" alt="Tennis Balls" style="width:200px;height:200px;">
    </a>
    <h2>Tennis Balls</h2>
</div>
