<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SapphireSports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SapphireSports.styles.css" asp-append-version="true" />
</head>
<style>
    body {
        padding-top: 150px;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/sapphire_sports_logo_3-removebg-preview (1).png" alt="Sample Photo" width="200"/></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contactus">Contact Us</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Categories
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Cricket">Cricket</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Football">Football</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Tennis">Tennis</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Rugby">Rugby</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Basketball">Basketball</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Shoes">Shoes</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Product Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            <a class="navbar-brand" asp-area="" asp-controller="Carts" asp-action="Index"><img src="~/images/cart-removebg-preview.png" alt="Sample Photo" width="50"/></a>
                <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SapphireSports - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
